//Custom Design

#left{
    &.col{
        padding: 0;
    }
} 
#right{   
}

.headline{
    margin-bottom: 20px;
    padding-bottom: 12px;
    clear: both;
    padding: 6% 4%;
    h3{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 4px;
    }
    .caption{
        font-size: 12px;
        margin-bottom: 0;
    }
}