//Wordpress for Labs
.projects{
    section{
        @include project;
    }
}

.publications{
    .group{
        .col{
            margin-bottom: 32px;
            &:first-child{
                margin-bottom: 0;
            }
        }
        &:last-child{
            .col{
                margin-bottom: 0;
            }
        }
        h2{
            margin-bottom: 0;
            text-align: left;
            @media screen and (min-width: $tablet) {
                text-align: right;
            }
        }
    }
    ul.tag{
        list-style: none;
        margin-left: 0;
        li{
            display: inline;
            margin: 10px 20px 10px 0;
            a{
                text-decoration: underline;
                color: $blue;
                font-weight: 400;
            }
        }
    }
    .item{
        @include clearfix;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
        clear: both;
        border-bottom: 1px solid #dadada;
        overflow: hidden;
        font-size: 16px;
        .tag{
            @include clearfix;
            li{
                float: left;
                margin: 0 15px 10px 0;
                font-size: 12px;
                height: 26px;
                line-height: 26px;
                display: block;
                float: left;
                min-width: 50px;
                background: #031b56;
                padding: 0 10px 0 10px;
                text-align: center;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        img{
            width: 100%;
            max-width: 80px;
        }
    }
}

.members{
    h2{
        clear: both;
    }
    .member{
        position: relative;                                     
        .caption{
            width: 70%;
            padding: 16px 15%;
            color: #fff;
            bottom: 0;
            position: absolute;
            background-size: 26px;
            @include screen;
            h4{
                margin-bottom: 0;
            }
            p{
                margin-bottom: 0;
            }
            .link{
                width: 26px;
                position: absolute;
                right: 20px;
                top: 32px;
            }
        }
    }
}