/*--------------color--------*/
$base: #000;
$link: #888;
$light_gray: #d8d8d9;
$dark_gray:#504941;
$border: #ccc;
$white: #FFF;
$gray: #3f3f3f;
$light_gray: #f1f1f1;
$black: #2a2a2a;
$color: #db812e;
$current: #db812e;

/*--------------viwpoint--------*/
$phone: 320px;
$phone_wide: 479px;
$tablet: 768px;
$tablet_wide: 1024px;
$pc: 1200px;
$pc_wide: 1400px;

/*--------------aside_wide--------*/
$aside_wide: 280px;

/*--------------header_height--------*/
$header_height_phone: 50px;
$header_height: 70px;